<p><img alt="Colaboratory logo" height="45px" src="https://www.jnec.org/images/mgmlogo.jpg" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Machine Learning Course</h1>


Google COLAB: Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud. With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

<h4 align="center">Hands on Session : Basics of Python</h4>
<h6 align="right">Author: Prof. Charudatt Mane</h6>

---

##Data Types in Python

1.   Numbers : Int, Long, Float, Complex (Long in python 2)
2.   String
3.   List
4.   Tuple
5.   Dictionary

High-level dynamic data types and supports dynamic type checking


---

In [0]:
age=21 #integer assignment
marks=66.69 #float assignment
name="JNEC" #string assignment

#Lets print variables
print(age)
print(marks)
print(name)

21
66.69
JNEC

In [0]:
#multiple assignment
a=b=c=10 
print("a,b,c variables values:",a,b,c)

l,m,n=4,5.6,"Virat"
print("l,m,n variables values assigned respectively:",l,m,n)

a,b,c variables values: 10 10 10
l,m,n variables values assigned respectively: 4 5.6 Virat

In [0]:
d=2+4j  #complex number
print(d)
print(d.real)
print(d.imag)

(2+4j)
2.0
4.0

In [0]:
str="Machine Learning Course by Prof. Charudatt Mane"  #string variable, sequence of characters, use of single or double quote  
print(str)    # Prints complete string
print(str[0]) # Prints first character of the string as index starts from 0 to length of string
print(str[2:6]) # slice operator [start index:end index] startig index is inclusive and end index is exclusive
print(str[5:])  # print from 5 character to the end of string
print(str[:])  # print complete string
print(str[::2]) # print alternate character of the string slice operator syntax [SI:EI:Step] by default it is zero 
print(str[::-1]) # prints reverse of string
print(str[-1:-5]) # prints nothing this won't work
print(str[-1::-2]) # prints reverse of string with alternate characters
print(str[-1:-8:-2]) # prints alternative characters from reverse string in the given range 

s1='JNEC'; s2='College'  # on same line multiple varible are declared but seperated by semi colon 
print(s1)
print(s2)
print(s1+s2) # concatenate both strings  + concatenation operator
print(s1*3)  # prints JNEC 3 times  * repitition operator

Machine Learning Course by Prof. Charudatt Mane
M
chin
ne Learning Course by Prof. Charudatt Mane
Machine Learning Course by Prof. Charudatt Mane
McieLann oreb rf hrdt ae
enaM ttadurahC .forP yb esruoC gninraeL enihcaM

ea tdrh fr bero nnaLeicM
ea t
JNEC
College
JNECCollege
JNECJNECJNEC

In [0]:
#Python List just like array represented by square brackets []\ and items seperated by commas (Mutable)
list=[1,2,2.5,'JNEC',"CSE"] # list can contain different data types items 
print(list) # prints complete list
print(list[0]) # prints first element of list 
print(list[1:3]) # prints 2 and 3 element as list starts at 0 index
print(list[2:]) # prints elements starting from  3rd element till end 

l1=[1,2,3] 
print(l1*2)  # print list l1 2 times
print(list+l1) # concatenate both lists

[1, 2, 2.5, 'JNEC', 'CSE']
1
[2, 2.5]
[2.5, 'JNEC', 'CSE']
[1, 2, 3, 1, 2, 3]
[1, 2, 2.5, 'JNEC', 'CSE', 1, 2, 3]

In [0]:
#Python Tuple similar to list represented by round brackets ()\ items seperated by commas (Immutable)
#Tuple can not be updated (read only lists)\
tuple=(1,2,2.5,'JNEC','abc')
print(tuple) # Prints complete tuple
print(tuple[0]) # print first element of tuple
print(tuple[1:3]) # prints 2 and 3 element from tuple
print(tuple[2:]) # prints from 3rd element

t1=(6,7,8)
print(tuple+t1) # Prints concatenated tuples
print(tuple*2) # Prints tuple two times

(1, 2, 2.5, 'JNEC', 'abc')
1
(2, 2.5)
(2.5, 'JNEC', 'abc')
(1, 2, 2.5, 'JNEC', 'abc', 6, 7, 8)
(1, 2, 2.5, 'JNEC', 'abc', 1, 2, 2.5, 'JNEC', 'abc')

In [0]:
tuple = ( 'abc', 456 , 2.123, 'john', 75.2  )
list = [ 'abc', 456 , 2.235, 'john', 75.2  ]

list[2] = 1000     # Valid syntax with list (list can be updated) 
print(list)
#tuple[2] = 1000    # Invalid syntax with tuple (tuple can't be updated)

['abc', 456, 1000, 'john', 75.2]

In [0]:
#Python Dictionary kind of hash table type & works with key:value pair
#Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])\
#key must be unique & possibly of number and string type , value can be any kind of object in python
dict={'N6 Cidco':'JNEC',2:'MIT',3:'PES'}
print(dict) # prints complete dict
print(dict[2]) # in sqaure bracket pass key  then it return value of that key
print(dict['N6 Cidco']) # passing key to get value associated with it
print(dict.keys()) # prints keys in the dictionary
print(dict.values()) # prints vlaues in the dictionary

d1={}
d1['Singhad']="Pune"
d1['Devgiri']="Aurangabad"
d1[1]=1000 
print(d1) # prints complete dictionary

{'N6 Cidco': 'JNEC', 2: 'MIT', 3: 'PES'}
MIT
JNEC
dict_keys(['N6 Cidco', 2, 3])
dict_values(['JNEC', 'MIT', 'PES'])
{'Singhad': 'Pune', 'Devgiri': 'Aurangabad', 1: 1000}

### Checking data type of variable

In [0]:
print(type(age))  # prints data type of variable 
print(type(marks))
print(type(name))
print(type(l1))
print(type(t1))
print(type(d1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

### Printing address of the variable

In [0]:
a=100
print(id(a))  #id() prints the address of the variable
b=200
print(id(b))
c=400
print(id(c))
d=100
print(id(d))

10971968
10975168
140510864870192
10971968

In [0]:
c=50
d=10
b=50-40
print(id(c))
print(id(d))
print(id(b))

10970368
10969088
10969088

##Variables and Data Types

In [0]:
a=5
b=1.5
c='JNEC'
d=2+3j

print("Integer:-",a," Float:-",b," String:-",c," Complex Number:-",d)

Integer:- 5  Float:- 1.5  String:- JNEC  Complex Number:- (2+3j)

In [0]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

###Types and Type Convesion

In [0]:
# initializing string 
s = "10010"
  
# printing string converting to int base 2 
c = int(s,2) 
print ("After converting to integer base 2 : ", end="") 
print (c) 
  
# printing string converting to float 
e = float(s) 
print ("After converting to float : ", end="") 
print (e)

After converting to integer base 2 : 18
After converting to float : 10010.0

In [0]:
# initializing integer 
s = '4'
  
# printing character converting to integer 
c = ord(s) 
print ("After converting character to integer : ",end="") 
print (c) 
  
# printing integer converting to hexadecimal string 
c = hex(56) 
print ("After converting 56 to hexadecimal string : ",end="") 
print (c) 
  
# printing integer converting to octal string 
c = oct(56) 
print ("After converting 56 to octal string : ",end="") 
print (c)

After converting character to integer : 52
After converting 56 to hexadecimal string : 0x38
After converting 56 to octal string : 0o70

In [0]:
# initializing string 
s = 'geeks'
  
# printing string converting to tuple 
c = tuple(s) 
print ("After converting string to tuple : ",end="") 
print (c) 
  
# printing string converting to set 
c = set(s) 
print ("After converting string to set : ",end="") 
print (c) 
  
# printing string converting to list 
c = list(s) 
print ("After converting string to list : ",end="") 
print (c)

After converting string to tuple : ('g', 'e', 'e', 'k', 's')
After converting string to set : {'e', 'k', 'g', 's'}
After converting string to list : ['g', 'e', 'e', 'k', 's']

In [0]:
# initializing integers 
a = 1
b = 2
  
# initializing tuple 
tup = (('a', 1) ,('f', 2), ('g', 3)) 
  
# printing integer converting to complex number 
c = complex(1,2) 
print ("After converting integer to complex number : ",end="") 
print (c) 
  
# printing integer converting to string 
#c = str(a) 
#print ("After converting integer to string : ",end="") 
#print (c) 
  
# printing tuple converting to expression dictionary 
c = dict(tup) 
print ("After converting tuple to dictionary : ",end="") 
print (c)

After converting integer to complex number : (1+2j)
After converting tuple to dictionary : {'a': 1, 'f': 2, 'g': 3}

## Calculations with variables

In [0]:
x=5
y=3
print("Addition:",x+y)
print("Subtraction:",x-y)
print("Multiplication:",x*y)
print("Division:",x/y)
print("Exponentiation:",x**y)
print("Floor Division:",x//y)
print("Modulo (Remainder):",x%y)

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Exponentiation: 125
Floor Division: 1
Modulo (Remainder): 2

## Strings and its operations

In [0]:
s="MGM's JNEC"
print("Complete String :",s)
print("String Repetition :",s*2)
print("String concatination :",s+" Aurangabad")
print("First character from string :",s[0])
# Slicing operator systax str[start:end:step] where start index is inclusive and end index is exclusive
print("String slicing operator print complete string :",s[:])
print("First 3 characters :",s[:3]) 
print("ALternate characters :",s[::2])
print(s[-1:-4]) #prints nothing, when slicing operator takes negative index then negative step value is necessary 
print("Reverse string :",s[::-1])
print("Alternate characters from reverse string :",s[-1::-2])
print("Alternate characters from resverse string :",s[::-2])
print("ALternate characters from given range in reverse string :",s[-1:-4:-2])
print("Check for perticular character is in the string or not (Case Sensitive) :",'s' in s)
print("Check for available character in given string :",'S' in s)

Complete String : MGM's JNEC
String Repetition : MGM's JNECMGM's JNEC
String concatination : MGM's JNEC Aurangabad
First character from string : M
String slicing operator print complete string : MGM's JNEC
First 3 characters : MGM
ALternate characters : MMsJE

Reverse string : CENJ s'MGM
Alternate characters from reverse string : CN 'G
Alternate characters from resverse string : CN 'G
ALternate characters from given range in reverse string : CN
Check for perticular character is in the string or not (Case Sensitive) : True
Check for available character in given string : False

### String Methods

In [0]:
#All string methods returns new values. They do not change the original string.
my_string="  I like Machine Learning course by Prof. Charudatt Mane  "
print(my_string.upper())
print(my_string.lower())
print(my_string.capitalize())
print(my_string.title())
print(my_string.count('c'))
print(my_string.replace("Prof.","Mr."))
print(my_string.strip())  #lstrip() rstrip()
print(my_string.split(" "))
print(len(my_string))
print(my_string.find("I"))
print(my_string.lstrip().startswith("I"))
AccNum="123456"  # at least 10 digits are required 
print("Right justified string:",AccNum.rjust(10,'0'))
print("Left justified string:",AccNum.ljust(10,'#'))
#isalnum()  isalpha()  isdigit()  islower()  isspace()  istitle()  isupper()

  I LIKE MACHINE LEARNING COURSE BY PROF. CHARUDATT MANE
  i like machine learning course by prof. charudatt mane
  i like machine learning course by prof. charudatt mane
  I Like Machine Learning Course By Prof. Charudatt Mane
2
  I like Machine Learning course by Mr. Charudatt Mane
I like Machine Learning course by Prof. Charudatt Mane
['', '', 'I', 'like', 'Machine', 'Learning', 'course', 'by', 'Prof.', 'Charudatt', 'Mane', '', '']
58
2
True
Right justified string: 0000123456
Left justified string: 123456####

##Core Data Structures

###List

In [0]:
# Creating a List 
List = [] 
print("Intial blank List: ") 
print(List) 
  
# Creating a List with  
# the use of a String 
List = ['MGMJNEC'] 
print("\nList with the use of String: ") 
print(List) 
  
# Creating a List with 
# the use of multiple values 
List = ["MGM", "JNEC", "Aurangabad"] 
print("\nList containing multiple values: ") 
print(List[0])  
print(List[2]) 
  
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['MGM', 'JNEC'] , ['Auranagabad']] 
print("\nMulti-Dimensional List: ") 
print(List) 
  
# Creating a List with  
# the use of Numbers 
# (Having duplicate values) 
List = [1, 2, 4, 4, 3, 3, 3, 6, 5] 
print("\nList with the use of Numbers: ") 
print(List) 
  
# Creating a List with  
# mixed type of values 
# (Having numbers and strings) 
List = [1, 2, 'MGM', 4, 'CSE', 6, 'JNEC'] 
print("\nList with the use of Mixed Values: ") 
print(List)

Intial blank List:
[]

List with the use of String:
['MGMJNEC']

List containing multiple values:
MGM
Aurangabad

Multi-Dimensional List:
[['MGM', 'JNEC'], ['Auranagabad']]

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'MGM', 4, 'CSE', 6, 'JNEC']

In [0]:
# Python program to demonstrate  
# Addition of elements in a List 
  
# Creating a List 
List = [] 
print("Intial blank List: ") 
print(List) 
  
# Addition of Elements  
# in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("\nList after Addition of Three elements: ") 
print(List) 
  
# Adding elements to the List 
# using Iterator 
for i in range(1, 4): 
    List.append(i) 
print("\nList after Addition of elements from 1-3: ") 
print(List) 
  
# Adding Tuples to the List 
List.append((5, 6)) 
print("\nList after Addition of a Tuple: ") 
print(List) 
  
# Addition of List to a List 
List2 = ['JNEC', 'Aurangabad'] 
List.append(List2) 
print("\nList after Addition of a List: ") 
print(List) 
  
# Addition of Element at  
# specific Position 
# (using Insert Method) 
List.insert(3, 12) 
List2.insert(0, 'MGM') 
print("\nList after performing Insert Operation: ") 
print(List) 
  
# Addition of multiple elements 
# to the List at the end 
# (using Extend Method) 
List.extend([8, 'N6', 'CIDCO']) 
print("\nList after performing Extend Operation: ") 
print(List)

Intial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['JNEC', 'Aurangabad']]

List after performing Insert Operation:
[1, 2, 4, 12, 1, 2, 3, (5, 6), ['MGM', 'JNEC', 'Aurangabad']]

List after performing Extend Operation:
[1, 2, 4, 12, 1, 2, 3, (5, 6), ['MGM', 'JNEC', 'Aurangabad'], 8, 'N6', 'CIDCO']

In [0]:
# accessing of element from list 
  
# Creating a List with 
# the use of multiple values 
List = ["MGM", "JNEC", "CSE"] 
  
# accessing a element from the  
# list using index number 
print("Accessing a element from the list") 
print(List[0])  
print(List[2]) 
  
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['MGM', 'JNEC'] , ['Aurangabad']] 
  
# accessing a element from the  
# Multi-Dimensional List using 
# index number 
print("Acessing a element from a Multi-Dimensional list") 
print(List[0][1]) 
print(List[1][0]) 
  
  
List = [1, 2, 'MGM', 4, 'CSE', 6, 'JNEC'] 
  
# accessing a element using 
# negative indexing 
print("Acessing element using negative indexing") 
  
# print the last element of list 
print(List[-1]) 
  
# print the third last element of list  
print(List[-3])

Accessing a element from the list
MGM
CSE
Acessing a element from a Multi-Dimensional list
JNEC
Aurangabad
Acessing element using negative indexing
JNEC
CSE

In [0]:
# Removal of elements in a List 
  
# Creating a List 
List = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List) 
  
# Removing elements from List 
# using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ") 
print(List) 
  
# Removing elements from List 
# using iterator method 
for i in range(1, 5): 
    List.remove(i) 
print("\nList after Removing a range of elements: ") 
print(List) 
  
# Removing element from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List) 
  
# Removing element at a  
# specific location from the  
# Set using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

List after popping an element:
[7, 8, 9, 10, 11]

List after popping a specific element:
[7, 8, 10, 11]

In [0]:
# Removal of elements in a List 
  
# Creating a List 
List = ['M','A','C','H','I','N','E','L','E','A','R','N','I','N','G'] 
print("Intial List: ") 
print(List) 
  
# Print elements of a range 
# using Slice operation 
Sliced_List = List[3:8] 
print("\nSlicing elements in a range 3-8: ") 
print(Sliced_List) 
  
# Print elements from beginning 
# to a pre-defined point using Slice 
Sliced_List = List[:-6] 
print("\nElements sliced till 6th element from last: ") 
print(Sliced_List) 
  
# Print elements from a  
# pre-defined point to end 
Sliced_List = List[5:] 
print("\nElements sliced from 5th "
      "element till the end: ") 
print(Sliced_List) 
  
# Printing elements from 
# beginning till end 
Sliced_List = List[:] 
print("\nPrinting all elements using slice operation: ") 
print(Sliced_List) 
  
# Printing elements in reverse 
# using Slice operation 
Sliced_List = List[::-1] 
print("\nPrinting List in reverse: ") 
print(Sliced_List)

Intial List:
['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'E', 'A', 'R', 'N', 'I', 'N', 'G']

Slicing elements in a range 3-8:
['H', 'I', 'N', 'E', 'L']

Elements sliced till 6th element from last:
['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'E']

Elements sliced from 5th element till the end:
['N', 'E', 'L', 'E', 'A', 'R', 'N', 'I', 'N', 'G']

Printing all elements using slice operation:
['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'E', 'A', 'R', 'N', 'I', 'N', 'G']

Printing List in reverse:
['G', 'N', 'I', 'N', 'R', 'A', 'E', 'L', 'E', 'N', 'I', 'H', 'C', 'A', 'M']

###Tuples

In [0]:
# Creating an empty tuple 
Tuple1 = () 
print("Initial empty Tuple: ") 
print (Tuple1) 
  
# Creating a Tuple with  
# the use of Strings 
Tuple1 = ('ML', 'TY') 
print("\nTuple with the use of String: ") 
print(Tuple1) 
  
# Creating a Tuple with 
# the use of list 
list1 = [1, 2, 4, 5, 6] 
print("\nTuple using List: ") 
print(tuple(list1)) 
  
# Creating a Tuple 
# with the use of loop 
Tuple1 = ('MGM') 
n = 5
print("\nTuple with a loop") 
for i in range(int(n)): 
    Tuple1 = (Tuple1,) 
    print(Tuple1) 
  
# Creating a Tuple with the 
# use of built-in function 
Tuple1 = tuple('CSE') 
print("\nTuple with the use of function: ") 
print(Tuple1) 
  
# Creating a Tuple with  
# Mixed Datatypes 
Tuple1 = (5, 'Welcome', 7, 'JNEC') 
print("\nTuple with Mixed Datatypes: ") 
print(Tuple1) 
  
# Creating a Tuple  
# with nested tuples 
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('python', 'ML') 
Tuple3 = (Tuple1, Tuple2) 
print("\nTuple with nested tuples: ") 
print(Tuple3) 
  
# Creating a Tuple  
# with repetition 
Tuple1 = ('CSE',) * 3
print("\nTuple with repetition: ") 
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('ML', 'TY')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with a loop
('MGM',)
(('MGM',),)
((('MGM',),),)
(((('MGM',),),),)
((((('MGM',),),),),)

Tuple with the use of function:
('C', 'S', 'E')

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'JNEC')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'ML'))

Tuple with repetition:
('CSE', 'CSE', 'CSE')

In [0]:
# Concatenaton of tuples 
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('MGM', 'JNEC', 'CSE') 
  
Tuple3 = Tuple1 + Tuple2 
  
# Printing first Tuple 
print("Tuple 1: ") 
print(Tuple1) 
  
# Printing Second Tuple 
print("\nTuple2: ") 
print(Tuple2) 
  
# Printing Final Tuple 
print("\nTuples after Concatenaton: ") 
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('MGM', 'JNEC', 'CSE')

Tuples after Concatenaton:
(0, 1, 2, 3, 'MGM', 'JNEC', 'CSE')

In [0]:
# Slicing of a Tuple 
  
# Slicing of a Tuple 
# with Numbers 
Tuple1 = tuple('MGM\'sJNEC') 
  
# Removing First element 
print("Removal of First Element: ") 
print(Tuple1[1:]) 
  
# Reversing the Tuple  
print("\nTuple after sequence of Element is reversed: ") 
print(Tuple1[::-1]) 
  
# Printing elements of a Range 
print("\nPrinting elements between Range 4-9: ") 
print(Tuple1[4:9])

Removal of First Element:
('G', 'M', "'", 's', 'J', 'N', 'E', 'C')

Tuple after sequence of Element is reversed:
('C', 'E', 'N', 'J', 's', "'", 'M', 'G', 'M')

Printing elements between Range 4-9:
('s', 'J', 'N', 'E', 'C')

###Set

In [0]:
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 
  
# Creating a Set with  
# the use of a String 
set1 = set("BondJamesBond") 
print("\nSet with the use of String: ") 
print(set1) 
  
# Creating a Set with 
# the use of Constructor 
# (Using object to Store String) 
String = 'BondJamesBond'
set1 = set(String) 
print("\nSet with the use of an Object: " ) 
print(set1) 
  
# Creating a Set with 
# the use of a List 
set1 = set(["MGM", "CSE", "JNEC"]) 
print("\nSet with the use of List: ") 
print(set1) 
  
# Creating a Set with  
# a List of Numbers 
# (Having duplicate values) 
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of Numbers: ") 
print(set1) 
  
# Creating a Set with  
# a mixed type of values 
# (Having numbers and strings) 
set1 = set([1, 2, 'CSE', 4, 'JNEC', 6, 'MGM']) 
print("\nSet with the use of Mixed Values") 
print(set1)

Intial blank Set:
set()

Set with the use of String:
{'o', 's', 'm', 'd', 'B', 'J', 'e', 'a', 'n'}

Set with the use of an Object:
{'o', 's', 'm', 'd', 'B', 'J', 'e', 'a', 'n'}

Set with the use of List:
{'MGM', 'JNEC', 'CSE'}

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

Set with the use of Mixed Values
{'MGM', 1, 2, 4, 'CSE', 6, 'JNEC'}

In [0]:
# Addition of elements in a Set 
  
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 
  
# Adding element to the Set 
set1.add(8) 
set1.add(9) 
set1.add(12) 
print("\nSet after Addition of Three elements: ") 
print(set1) 
  
# Adding elements to the Set 
# using Iterator 
for i in range(1, 6): 
    set1.add(i) 
print("\nSet after Addition of elements from 1-5: ") 
print(set1) 
  
# Adding Tuples to the Set 
set1.add((6,7)) 
print("\nSet after Addition of a Tuple: ") 
print(set1) 
  
# Addition of elements to the Set 
# using Update function 
set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

Intial blank Set:
set()

Set after Addition of Three elements:
{8, 9, 12}

Set after Addition of elements from 1-5:
{1, 2, 3, 4, 5, 8, 9, 12}

Set after Addition of a Tuple:
{1, 2, 3, 4, 5, (6, 7), 8, 9, 12}

Set after Addition of elements using Update:
{1, 2, 3, 4, 5, (6, 7), 8, 9, 10, 11, 12}

In [0]:
# Creating a Set 
set1 = set([1, 2, 3, 4, 5, 6,  
            7, 8, 9, 10, 11, 12]) 
print("Intial Set: ") 
print(set1) 
  
# Removing elements from Set 
# using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1) 
  
# Removing elements from Set 
# using Discard() method 
set1.discard(8) 
set1.discard(9) 
print("\nSet after Discarding two elements: ") 
print(set1) 
  
# Removing elements from Set 
# using iterator method 
for i in range(1, 5): 
    set1.remove(i) 
print("\nSet after Removing a range of elements: ") 
print(set1) 
  
# Removing element from the  
# Set using the pop() method 
set1.pop() 
print("\nSet after popping an element: ") 
print(set1) 
  
# Removing all the elements from  
# Set using clear() method 
set1.clear() 
print("\nSet after clearing all the elements: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

Set after Removing a range of elements:
{7, 10, 11, 12}

Set after popping an element:
{10, 11, 12}

Set after clearing all the elements:
set()

###Dictionary

In [0]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'MGM', 2: 'JNEC', 3: 'CSE'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Mixed keys 
Dict = {'Name': 'MGM', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict) 
  
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'MGM', 2: 'CSE', 3:'JNEC'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 
  
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'MGM'), (2, 'JNEC')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'MGM', 2: 'JNEC', 3: 'CSE'}

Dictionary with the use of Mixed Keys:
{'Name': 'MGM', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'MGM', 2: 'CSE', 3: 'JNEC'}

Dictionary with each item as a pair:
{1: 'MGM', 2: 'JNEC'}

In [0]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Adding elements one at a time 
Dict[0] = 'MGM'
Dict[2] = 'JNEC'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict) 
  
# Adding set of values  
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict) 
  
# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict) 
  
# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'ML', '2' : 'Course'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'MGM', 2: 'JNEC', 3: 1}

Dictionary after adding 3 elements:
{0: 'MGM', 2: 'JNEC', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'MGM', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'MGM', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'ML', '2': 'Course'}}}

In [0]:
# accesing a element from a Dictionary  
  
# Creating a Dictionary  
Dict = {1: 'MGM', 'name': 'CSE', 3: 'JNEC'} 
  
# accessing a element using key 
print("Acessing a element using key:") 
print(Dict['name']) 
  
# accessing a element using key 
print("Acessing a element using key:") 
print(Dict[1]) 
  
# accessing a element using get() 
# method 
print("Acessing a element using get:") 
print(Dict.get(3))

Acessing a element using key:
CSE
Acessing a element using key:
MGM
Acessing a element using get:
JNEC

In [0]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'MGM', 
        'A' : {1 : 'CSE', 2 : 'Dept', 3 : 'JNEC'}, 
        'B' : {1 : 'Rocking', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 
  
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 
  
# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict) 
  
# Deleting a Key  
# using pop() 
Dict.pop(5) 
print("\nPopping specific element: ") 
print(Dict) 
  
# Deleting an arbitrary Key-value pair 
# using popitem() 
Dict.popitem() 
print("\nPops an arbitrary key-value pair: ") 
print(Dict) 
  
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'MGM', 'A': {1: 'CSE', 2: 'Dept', 3: 'JNEC'}, 'B': {1: 'Rocking', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'MGM', 'A': {1: 'CSE', 2: 'Dept', 3: 'JNEC'}, 'B': {1: 'Rocking', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'MGM', 'A': {1: 'CSE', 3: 'JNEC'}, 'B': {1: 'Rocking', 2: 'Life'}}

Popping specific element:
{7: 'MGM', 'A': {1: 'CSE', 3: 'JNEC'}, 'B': {1: 'Rocking', 2: 'Life'}}

Pops an arbitrary key-value pair:
{7: 'MGM', 'A': {1: 'CSE', 3: 'JNEC'}}

Deleting Entire Dictionary:
{}