<p><img alt="Colaboratory logo" height="45px" src="https://www.jnec.org/images/mgmlogo.jpg" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Machine Learning Course</h1>


Google COLAB: Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud. With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

<h4 align="center">Hands on Session : Basics of Python</h4>
<h6 align="right">Author: Prof. Charudatt Mane</h6>

---

##Data Types in Python

1.   Numbers : Int, Long, Float, Complex (Long in python 2)
2.   String
3.   List
4.   Tuple
5.   Dictionary

High-level dynamic data types and supports dynamic type checking


---

In [0]:
age=21 #integer assignment
marks=66.69 #float assignment
name="JNEC" #string assignment

#Lets print variables
print(age)
print(marks)
print(name)

21
66.69
JNEC

In [0]:
#multiple assignment
a=b=c=10 
print("a,b,c variables values:",a,b,c)

l,m,n=4,5.6,"Virat"
print("l,m,n variables values assigned respectively:",l,m,n)

a,b,c variables values: 10 10 10
l,m,n variables values assigned respectively: 4 5.6 Virat

In [0]:
d=2+4j  #complex number
print(d)
print(d.real)
print(d.imag)

(2+4j)
2.0
4.0

In [0]:
str="Machine Learning Course by Prof. Charudatt Mane"  #string variable, sequence of characters, use of single or double quote  
print(str)    # Prints complete string
print(str[0]) # Prints first character of the string as index starts from 0 to length of string
print(str[2:6]) # slice operator [start index:end index] startig index is inclusive and end index is exclusive
print(str[5:])  # print from 5 character to the end of string
print(str[:])  # print complete string
print(str[::2]) # print alternate character of the string slice operator syntax [SI:EI:Step] by default it is zero 
print(str[::-1]) # prints reverse of string
print(str[-1:-5]) # prints nothing this won't work
print(str[-1::-2]) # prints reverse of string with alternate characters
print(str[-1:-8:-2]) # prints alternative characters from reverse string in the given range 

s1='JNEC'; s2='College'  # on same line multiple varible are declared but seperated by semi colon 
print(s1)
print(s2)
print(s1+s2) # concatenate both strings  + concatenation operator
print(s1*3)  # prints JNEC 3 times  * repitition operator

Machine Learning Course by Prof. Charudatt Mane
M
chin
ne Learning Course by Prof. Charudatt Mane
Machine Learning Course by Prof. Charudatt Mane
McieLann oreb rf hrdt ae
enaM ttadurahC .forP yb esruoC gninraeL enihcaM

ea tdrh fr bero nnaLeicM
ea t
JNEC
College
JNECCollege
JNECJNECJNEC

In [0]:
#Python List just like array represented by square brackets []\ and items seperated by commas (Mutable)
list=[1,2,2.5,'JNEC',"CSE"] # list can contain different data types items 
print(list) # prints complete list
print(list[0]) # prints first element of list 
print(list[1:3]) # prints 2 and 3 element as list starts at 0 index
print(list[2:]) # prints elements starting from  3rd element till end 

l1=[1,2,3] 
print(l1*2)  # print list l1 2 times
print(list+l1) # concatenate both lists

[1, 2, 2.5, 'JNEC', 'CSE']
1
[2, 2.5]
[2.5, 'JNEC', 'CSE']
[1, 2, 3, 1, 2, 3]
[1, 2, 2.5, 'JNEC', 'CSE', 1, 2, 3]

In [0]:
#Python Tuple similar to list represented by round brackets ()\ items seperated by commas (Immutable)
#Tuple can not be updated (read only lists)\
tuple=(1,2,2.5,'JNEC','abc')
print(tuple) # Prints complete tuple
print(tuple[0]) # print first element of tuple
print(tuple[1:3]) # prints 2 and 3 element from tuple
print(tuple[2:]) # prints from 3rd element

t1=(6,7,8)
print(tuple+t1) # Prints concatenated tuples
print(tuple*2) # Prints tuple two times

(1, 2, 2.5, 'JNEC', 'abc')
1
(2, 2.5)
(2.5, 'JNEC', 'abc')
(1, 2, 2.5, 'JNEC', 'abc', 6, 7, 8)
(1, 2, 2.5, 'JNEC', 'abc', 1, 2, 2.5, 'JNEC', 'abc')

In [0]:
tuple = ( 'abc', 456 , 2.123, 'john', 75.2  )
list = [ 'abc', 456 , 2.235, 'john', 75.2  ]

list[2] = 1000     # Valid syntax with list (list can be updated) 
print(list)
#tuple[2] = 1000    # Invalid syntax with tuple (tuple can't be updated)

['abc', 456, 1000, 'john', 75.2]

In [0]:
#Python Dictionary kind of hash table type & works with key:value pair
#Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])\
#key must be unique & possibly of number and string type , value can be any kind of object in python
dict={'N6 Cidco':'JNEC',2:'MIT',3:'PES'}
print(dict) # prints complete dict
print(dict[2]) # in sqaure bracket pass key  then it return value of that key
print(dict['N6 Cidco']) # passing key to get value associated with it
print(dict.keys()) # prints keys in the dictionary
print(dict.values()) # prints vlaues in the dictionary

d1={}
d1['Singhad']="Pune"
d1['Devgiri']="Aurangabad"
d1[1]=1000 
print(d1) # prints complete dictionary

{'N6 Cidco': 'JNEC', 2: 'MIT', 3: 'PES'}
MIT
JNEC
dict_keys(['N6 Cidco', 2, 3])
dict_values(['JNEC', 'MIT', 'PES'])
{'Singhad': 'Pune', 'Devgiri': 'Aurangabad', 1: 1000}

### Checking data type of variable

In [0]:
print(type(age))  # prints data type of variable 
print(type(marks))
print(type(name))
print(type(l1))
print(type(t1))
print(type(d1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

### Printing address of the variable

In [0]:
a=100
print(id(a))  #id() prints the address of the variable
b=200
print(id(b))
c=400
print(id(c))
d=100
print(id(d))

10971968
10975168
140510864870192
10971968

In [0]:
c=50
d=10
b=50-40
print(id(c))
print(id(d))
print(id(b))

10970368
10969088
10969088